div{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#calendar{
    width: 400px;
    margin: auto;
}

#calendar button{
    float: left;
    height: 40px;
    width: 25%;
    background-color: thistle;
    color: white;
    cursor: pointer;
}

#calendar #info{
    float: left;
    width: 50%;
    
}

#calendar .day{
    float: left;
    width: 14%;
}

.clear{
    clear: both;
}